@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
  font-family: 'GmarketSansMedium';
}

.me-auto a{
  font-size: 20px;
  text-decoration: none;
  color: white;
  padding-right: 30px;
}

h1{
  padding-top: 20px;
}